/* #region min 1450w 930h*/


@media screen and (min-width: 1450px) and (min-height: 930px) {
@font-face {
    font-family: 'chalktastic';
    src: url(../fonts/Chalktastic-r78L.ttf) format(opentype);
}

:root{
    --main-font-family: 'chalktastic';
    --main-text-color: #f5f5f5;
}

body, button{
    font-family: var(--main-font-family);
    color: var(--main-text-color);
}

html{
    background-color: #E9AA6D;
    background-image: url(../img/chalkboard_bg.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 98vw;
}

main{
    height: 95vh;
    width: 98vw; 
}

p, h2{
    display : flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

#gameArea {
    display: none;
    /* display: flex; */
    overflow: auto;
    flex-direction: column;
    align-items: center;
    
}

#topSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#wordLocation {
font-size : 70px;
letter-spacing: 15px;
}

#resultLocation {
font-size : 50px;
letter-spacing: 3px;
}

#startButtonEasy, #startButtonMedium, #startButtonHard {
background-color: transparent;
font-size: larger;
}

#keyBoardTop button, #keyBoardBottom button {
    font-size: 40px;
    position : 3;
    margin: 10px 5px 10px 5px;
    background-color: transparent;
    
}

#bottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restart {
    display : none;
    padding: 50px;
    background-color: transparent;
    font-size: larger;
}

#startMenu {
    display: flex;
    justify-content: center;
}}

/* #endregion */

@media screen and (max-width: 1450px), screen and (max-height: 930px){
    @font-face {
        font-family: 'chalktastic';
        src: url(../fonts/Chalktastic-r78L.ttf) format(opentype);
    }
    
    :root{
        --main-font-family: 'chalktastic';
        --main-text-color: #f5f5f5;
    }
    
    body, button{
        font-family: var(--main-font-family);
        color: var(--main-text-color);
    }

    body {
        display : flex;
        justify-content: center;
    }
    
    html{
        background-color: #E9AA6D;
        background-image: url(../img/chalkboard_bg.webp);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 98vw;
    }
    
    main{
        height: 47.5vh;
        width: 49vw; 
    }
    
    p, h2{
        display : flex;
        justify-content: center;
    }
    
    h1 {
        display: none;
        justify-content: center;
        font-size: 16pt;
    }
    
    #gameArea {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        /* display: flex; */
        overflow: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #topSection {
        display: flex;
        justify-content: space-around;
        width: 50%;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }


    #HangMan{
        width : 350px;
        height: 375px;
    }

    #wordLocation {
        font-size : 35px;
        letter-spacing: 7.5px;
    }
    
    #resultLocation {
        font-size : 25px;
        letter-spacing: 1.5px;
    }
    
    #startButtonEasy, #startButtonMedium, #startButtonHard {
        background-color: transparent;
        font-size: larger;
    }
    
    #keyBoardTop button, #keyBoardBottom button {
        font-size: 12pt;
        position : 3;
        background-color: transparent;
    }
    
    #bottomSection {
        max-width : 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #restart {
        display : none;
        padding: 25px;
        background-color: transparent;
        font-size: larger;
    }
    
    #startMenu {
        display: flex;
        justify-content: center;
    }}